:root {
    --bg-color: #171717;
    --secondary-bg-color: #292929;
    --text-color: #ffffff;
    --rusty-red: #DA2C43;
    --imperial-red: #ED2939;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

button {
    font-family: "Raleway", sans-serif;
    color: var(--text-color);
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--imperial-red);
}

nav {
    background: rgba(43, 43, 43, 0.5);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

nav>a {
    margin: 0px 20px;
}
